<h1 style="text-align: center; background-color: royalblue;">Credit Controller!</h1>
<table class="table table-dark table-striped">
    <tbody>
        <tr>
            <th>ID</th>
            <th>Actor ID</th>
            <th>Movie ID</th>
            <th>Role</th>
        </tr>
        <tr *ngFor='let credit of credits'>
            <td>{{credit.id}}</td>
            <td>{{credit.actor.id}}</td>
            <td>{{credit.movie.id}}</td>
            <td>{{credit.role}}</td>
        </tr>
    </tbody>
</table>